<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestAction.TrackBusTest"/>
      <class name="TestAction.TermsConditionTest"/>
      <class name="TestAction.SocialMediaTest"/>
      <class name="TestAction.SearchTest"/>
      <class name="TestAction.ProfileUpdateTest"/>
      <class name="TestAction.ManageBookingTest"/>
      <class name="TestAction.LoginTest"/>
      <class name="TestAction.InvalidSearchTest"/>
      <class name="TestAction.InvalidLoginTest"/>
      <class name="TestAction.GlobalSiteTest"/>
      <class name="TestAction.CareersTest"/>
      <class name="TestAction.CallBackTest"/>
      <class name="TestAction.BecameOperatorTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
